.centerDiv {
  background-color: rgb(153, 237, 245);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mainDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerDiv h1 {
  width: 100%;
  text-align: center;
  color: rgba(50, 36, 36, 0.76);
}
.add-item {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.added-items {
  width: 100%;
}
.wid-100 {
  width: 100%;
}
.listing {
  width: 30%;
}
.input-item {
  height: 20px;
  margin: 0 10px 0 0;
}
.button-add {
  border-radius: 50%;
  background-color: burlywood;
  height: 28px;
  width: 28px;
  border: none;
}
.button-add:hover {
  background-color: rgb(116, 229, 131);
}
.button-del {
  border-radius: 50%;
  margin: 0 10px 0 0;
  border: none;
  background-color: brown;
  height: 25px;
  width: 25px;
}
.button-del:hover {
  /* background-color: rgba(152, 63, 63, 0.642); */
  background-color: red;
}
.image-contaiter {
  position: fixed;
  height: 512px;
  width: 512px;
  
}
